.replySection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  background-color: white;

  input {
    flex: 9;
    border: none;
    margin: 0;
    background-color: white;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: rgb(219, 219, 219);
      font-size: 16px;
      font-weight: bold;
    }
  }

  button {
    flex: 1;
    border: none;
    background-color: white;
    color: rgb(0, 149, 246);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    &:disabled {
      color: rgb(209, 230, 252);
      cursor: auto;
    }
  }
}
