@media screen and (max-width: 1500px) {
  .main {
    .westagram {
      main {
        section.mainRight {
          display: none;
        }
        section.feeds {
          width: 50%;
        }
      }
    }
  }
}

* {
  box-sizing: border-box;
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin profileImgStyle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
}

.main {
  .westagram {
    @include flex-center;
    flex-direction: column;
    height: 100vh;

    main {
      position: relative;
      left: 200px;
      overflow: scroll;
      width: 95%;
      height: 85%;
    }
  }
}
