@mixin profileImgStyle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
}

.mainRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
  height: 95%;
  margin: 0 10px;

  .userId {
    display: flex;
    align-items: center;
    height: 15%;

    .profileImgContainer {
      @include profileImgStyle;
      width: 48px;
      height: 48px;
      margin: 0 10px;

      img {
        width: 100%;
      }
    }

    ul {
      font-size: 20px;
      font-weight: bold;

      li:last-child {
        color: rgb(179, 179, 179);
      }
    }
  }
}
