@mixin profileImgStyle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
}

.subSection {
  height: 190px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: white;

  .subTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;

    span {
      margin: 0 10px;
      font-weight: bold;

      &:first-child {
        color: rgb(179, 179, 179);
      }
    }
  }

  ul > li {
    display: flex;
    align-items: center;
    height: 50px;
    font-weight: bold;

    .profileImgContainer {
      @include profileImgStyle;
      margin: 0 10px;
      border: 2px solid red;

      img {
        width: 100%;
      }
    }
  }

  &:last-child {
    ul > li > span:last-child {
      color: rgb(94, 169, 243);
      margin: 0 10px 0 auto;
    }

    .profileImgContainer {
      @include profileImgStyle;
      margin: 0 10px;
      border: none;

      img {
        width: 100%;
      }
    }
  }
}
