@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(250, 250, 250);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.mainPage {
  p span {
    font-weight: 700;
  }

  p,
  span {
    font-size: 14px;
  }

  nav {
    position: sticky;
    display: flex;
    justify-content: center;
    height: 59px;
    width: 100%;
    top: 0;
    border-bottom: 1px solid rgb(219, 219, 219);
    background-color: #fff;

    .navContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 930px;
    }

    .navLogo {
      position: relative;
      display: flex;
      align-items: center;
    }

    .navLogoText {
      font-family: 'Lobster', cursive;
      font-size: 28px;
    }

    .navSearchContainer {
      position: relative;
    }

    .navSearch {
      margin: 10px;
    }

    .navSearch input {
      width: 230px;
      height: 32px;
      padding: 6px 10px 3px 38px;
      border: none;
      border-radius: 6px;
      color: rgb(120, 120, 120);
      background-color: rgb(239, 239, 239);
      background-image: url('/../src/assets/images/seulbikim/search.png');
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: 5%;
      font-size: 16px;
      font-weight: 300;

      &::placeholder {
        color: rgb(188, 188, 188);
      }
      &:focus {
        outline: none;
      }
    }

    .navIcons img {
      height: 23px;
      margin: 0 8px;
      cursor: pointer;
    }
  }

  /* main */
  main {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    .mainContainer {
      display: flex;
      max-width: 930px;
    }

    .feeds {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }

    article {
      display: flex;
      flex-direction: column;
      max-width: 614px;
      margin-bottom: 20px;
      border: 1px solid rgb(219, 219, 219);
      background-color: white;
    }

    article header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      padding: 0 20px;
    }

    .articleHeaderProfile {
      display: flex;
      align-items: center;

      .articleHeaderProfileImg {
        width: 32px;
        height: 32px;
        margin-right: 15px;
        border-radius: 50%;
        object-fit: cover;
      }

      .articleHeaderProfileName {
        font-weight: 600;
      }
    }

    .articleHeaderMore img {
      width: 23px;
      color: rgb(55, 55, 55);
      cursor: pointer;
    }

    .articleImg img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    /* article__data */
    .articleData {
      display: flex;
      flex-direction: column;
      padding: 15px 15px 0 15px;
    }

    .articleDataIcons {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .articleDataIconsLeft {
      display: flex;
      align-items: center;
    }

    .articleDataIconHeart {
      margin-right: 0px;
      font-size: 30px;
      cursor: pointer;
    }

    .articleDataIconsRemove {
      font-size: 18px;
      cursor: pointer;
      margin-left: 5px;
      color: rgb(180, 180, 180);
    }

    .articleDataIconsLeft img,
    .articleDataIconRight {
      height: 23px;
      margin-left: 15px;
      cursor: pointer;
    }

    .articleDataIconRight {
      margin-right: 0;
    }

    .articleDataReaction {
      margin-top: 10px;
    }

    .reactionLiked {
      margin-top: 8px;
      font-weight: 600;
    }

    .reactionAuthorPost {
      margin-top: 10px;
    }

    /* comments */
    .reactionComments {
      display: flex;
      flex-direction: column;
    }

    .reactionComments ul li {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .commentsCommented {
        flex: 1;
        margin-top: 5px;

        span {
          margin-right: 5px;
        }
      }
    }

    li .articleDataIconsHeart {
      cursor: pointer;
      font-size: 20px;
    }

    .fill {
      color: rgb(255, 73, 73);
    }

    .reactionComments ul li img {
      width: 15px;
      margin-left: 10px;
      cursor: pointer;
    }

    /* comments date */
    .reactionComments {
      .date {
        margin: 8px 0;
        color: rgb(180, 180, 180);

        span {
          font-size: 12px;
        }
      }
    }

    /* comments form */
    .commentForm {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      height: 55px;
      border-top: 1px solid rgb(219, 219, 219);
    }

    .commentForm img {
      width: 23px;
      height: 23px;
      margin-right: 10px;
      cursor: pointer;
    }

    .commentForm input {
      flex: 8;
      height: 20px;
      border: 0;
      background-color: white;

      &:focus {
        outline: none;
      }
    }

    .commentForm button {
      width: 50px;
      border: none;
      color: rgb(117, 190, 235);
      background-color: transparent;
      font-size: 14px;
      font-weight: 600;
      text-align: end;
      cursor: pointer;
    }

    .commentForm button {
      .active {
        color: rgb(30, 151, 226);
      }
    }

    /* main-right */
    .mainRightContainer {
      width: 300px;
      margin-left: 20px;
    }

    .mainRight {
      position: fixed;
      display: flex;
      flex-direction: column;
      width: 300px;
    }

    .mainRightProfile {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .mainRightProfileLeft {
      display: flex;
      align-items: center;
    }

    .mainRightProfileLeftImg {
      width: 56px;
      height: 56px;
      margin-right: 10px;
      border-radius: 50%;
      object-fit: cover;
    }

    .mainRightProfileLeftIdData {
      display: flex;
      flex-direction: column;
    }

    .mainRightProfileLeftIdData span:first-child {
      font-weight: 600;
    }
    .mainRightProfileLeftIdData span:last-child {
      margin-top: 2px;
      color: gray;
    }

    .mainRightProfileIdSwitch {
      color: rgb(11, 161, 255);
      font-size: 14px;
    }

    .mainRightRecommend {
      margin-top: 25px;
    }

    .mainRightRecommendTitle {
      display: flex;
      justify-content: space-between;
    }

    .mainRightRecommendTitle span {
      color: gray;
      font-weight: 600;
    }

    .mainRightRecommendTitle a {
      color: black;
      font-size: 12px;
    }

    .mainRightRecommendList {
      margin-top: 15px;
    }

    .mainRightRecommendList li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;
    }

    .mainRightRecommendListLeft {
      display: flex;
    }

    .recommendListImg {
      width: 35px;
      height: 35px;
      margin-right: 10px;
      border-radius: 50%;
      object-fit: cover;
    }

    .recommendListInfo {
      display: flex;
      flex-direction: column;
    }

    .recommendListInfoId {
      font-size: 14px;
      font-weight: 600;
    }

    .recommendListInfoFollow {
      color: gray;
      font-size: 12px;
    }

    .recommendListFollowBtn {
      color: rgb(11, 161, 255);
      font-size: 12px;
      font-weight: 600;
      cursor: pointer;
    }

    .mainRightFooter {
      margin-top: 40px;
    }

    .mainRightFooter ul {
      display: flex;
      flex-wrap: wrap;
      color: rgb(180, 180, 180);
      font-size: 12px;
    }

    .mainRightFooter li {
      position: relative;
      margin-right: 10px;
    }
  }
}
