@import '../../../../styles/variables/variablesHj.scss';

.replySection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

  input {
    flex: 9;
    border: none;
    margin: 0;
    height: 80px;
    background-color: white;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $theme-main-border-color;
      font-size: 16px;
      font-weight: bold;
    }
  }

  button {
    flex: 1;
    border: none;
    background-color: white;
    color: $theme-button-active-color;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    &:disabled {
      color: $theme-button-inactive-color;
      cursor: auto;
    }
  }
}
