$theme-main-border-color: rgb(219, 219, 219);
$theme-login-border-color: rgb(243, 243, 243);
$theme-loginInput-border-color: rgb(250, 250, 250);
$theme-icon-color: rgb(92, 92, 92);
$theme-button-active-color: rgb(0, 149, 246);
$theme-button-inactive-color: rgb(209, 230, 252);
$theme-font-lightgray-color: rgb(179, 179, 179);
