@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.main {
  padding-top: 60px;

  button {
    border: none;
  }
  a {
    text-decoration: none;
  }

  .feedsRightContainer {
    width: 76%;
    max-width: 935px;
    min-width: 600px;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: space-between;

    .storyFeeds {
      width: 63%;

      .storyArea {
        width: 100%;
        padding: 16px 0px 16px 10px;
        margin-bottom: 30px;
        position: relative;
        border: 1px solid lightgray;
        border-radius: 3px;
        overflow: hidden;

        button {
          background: none;
        }

        .beforeBtn {
          width: 45px;
          height: 45px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          display: none;
          color: white;
          z-index: 3;
          cursor: pointer;
        }

        .nextBtn {
          width: 45px;
          height: 45px;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(-11px, -50%);
          color: white;
          z-index: 2;
          cursor: pointer;
        }

        .storyContainer {
          display: flex;
          width: 613px;
          transition: transform 0.8s;
          font-size: 12px;

          .storyItem {
            width: 66px;
            margin: 0 7px;

            img {
              width: 100%;
              min-width: 66px;
              height: 66px;
              padding: 1px;
              border-radius: 50%;
              border: 3px solid rgb(237, 207, 212);
            }

            div {
              text-align: center;
            }
          }
        }
      }

      .feeds {
        .feedArticle {
          width: 100%;
          border: 1px solid lightgray;
          border-radius: 3px;

          .feedHeader {
            height: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .feedHeaderLeft {
              width: 90%;
              height: 100%;
              display: flex;
              align-items: center;
              padding: 14px 4px 14px 16px;

              img {
                width: 8%;
                height: 80%;
                margin-right: 10px;
                border-radius: 50%;
                cursor: pointer;
              }
            }

            .feedHeaderRight {
              padding: 14px 8px 14px 0;

              i {
                padding: 8px;
                cursor: pointer;
              }
            }
          }

          .feedContent {
            width: 100%;
            height: 640px;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .feedBtnArea {
            margin-top: 4px;
            padding: 6px 8px 8px 8px;
            display: flex;
            justify-content: space-between;

            i {
              padding: 8px;
              font-size: 24px;
              cursor: pointer;
              &:hover {
                opacity: 0.5;
              }
            }
          }

          .heartNumber {
            display: inline-block;
            padding: 0 16px;
            margin-bottom: 8px;
            font-weight: 600;
            font-size: 14px;
            cursor: pointer;
          }

          .letterCommentArea {
            padding: 0 16px;
            font-size: 13px;

            .postingLetter {
              margin-bottom: 4px;

              a {
                margin-right: 5px;
                color: black;
                font-weight: 600;
              }
            }

            .commentShow {
              display: inline-block;
              margin-bottom: 4px;
              color: rgb(146, 146, 146);
              cursor: pointer;
            }

            .commentContainer {
              font-size: 14px;

              .commentLetter {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 4px;
                .commentLetterLeft {
                  .commentNickname {
                    margin-right: 5px;
                    font-weight: 600;
                  }
                }

                .commentLetterRight {
                  display: flex;
                  align-items: center;

                  i {
                    margin-left: 10px;
                  }
                  .commentDelete {
                    // margin-left: 10px;
                    &:hover {
                      color: rgb(255, 0, 0, 0.7);
                      cursor: pointer;
                    }
                  }
                  .commentHeart:hover {
                    color: pink;
                    cursor: pointer;
                  }
                }
              }
            }
          }

          .dateBefore {
            padding-left: 16px;
            margin-bottom: 16px;
            font-size: 11px;
            color: rgb(146, 146, 146);
            cursor: pointer;
            display: inline-block;
          }

          .footer {
            border-top: 1px solid lightgrey;
            padding: 6px 16px;

            .postingCommentArea {
              display: flex;
              justify-content: space-between;
              align-items: center;

              i {
                flex: 0;
                font-size: 24px;
                padding: 8px 16px 8px 0;
              }
              .postingInput {
                flex: 7;
                border: none;
                background: none;
              }
              .postingBtn {
                flex: 1;
                background: none;
                font-size: 15px;
                color: rgba(var(--d69, 0, 149, 246), 1);
                opacity: 0.5;
              }
              .buttonActivate {
                opacity: 1;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .mainRight {
      width: 30%;
      min-width: 212px;
      height: 300px;

      .rightProfile {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        img {
          width: 20%;
          height: 56px;
          margin: 0 10px 0 16px;
          border-radius: 50%;
        }
      }
      .recommend {
        .recommendTitle {
          display: flex;
          justify-content: space-between;
          margin-top: 12px;
          font-size: 14px;
          font-weight: 600;
          color: rgb(142, 142, 142);
          padding: 4px 16px;

          a {
            color: black;
            font-size: 12px;
          }
        }

        .recommendList {
          padding: 8px 0;

          .recommendListItem {
            padding: 8px 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .listProfile {
              display: flex;
              align-items: center;

              img {
                width: 32px;
                height: 32px;
                margin-right: 10px;
                border-radius: 50%;
              }
              span:hover {
                cursor: pointer;
                text-decoration: underline;
              }
            }

            .follow {
              font-size: 12px;
              color: rgba(var(--d69, 0, 149, 246), 1);
              font-weight: 600;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  // .buttonActivate {
  //   opacity: 1;
  //   cursor: pointer;
  // }

  .heartBtnColor {
    color: pink;
  }

  @media screen and (max-width: 768px) {
    .mainRight {
      display: none;
    }
    .storyFeeds {
      width: 80%;
      margin: 0 auto;
    }
  }
}
