@import '../../../styles/variables/variablesHj.scss';

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginHj {
  @include flex-center;
  height: 100vh;

  .loginSection {
    @include flex-center;
    flex-direction: column;
    width: 350px;
    height: 400px;
    border: 2px solid $theme-main-border-color;
    border-radius: 5px;

    p.logo {
      text-align: center;
      margin-bottom: 50px;
      font-family: 'Lobster', cursive;
      font-size: 50px;
      color: black;
    }

    .loginBtn {
      width: 268px;
      height: 38px;
      border: none;
      border-radius: 5px;
      background-color: $theme-button-active-color;
      color: white;
      cursor: pointer;

      &:disabled {
        background-color: $theme-button-inactive-color;
        cursor: auto;
      }
    }

    .signUpBtn {
      height: 38px;
      border: none;
      border-radius: 5px;
      padding: 20px;
      background-color: transparent;
      color: black;
      cursor: pointer;

      &:disabled {
        color: $theme-font-lightgray-color;
        cursor: auto;
      }
    }
  }
}
