@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navContainer {
  width: 100%;
  height: 60px;
  padding: 13px 0;
  position: fixed;
  top: 0;
  background-color: white;
  font-size: 22px;
  z-index: 3;
  border-bottom: 1px solid lightgray;
  i {
    margin-right: 8px;
    padding-right: 8px;
    border-right: 2px solid black;
  }
  .navList {
    width: 90%;
    height: 100%;
    max-width: 935px;
    min-width: 540px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    .navLogoLetter {
      font-family: 'Lobster', cursive;
      line-height: 33px;
      cursor: pointer;
    }
    .navInput {
      height: 100%;
      width: 260px;
      padding: 0 16px;
      background-color: rgba(var(--bb2, 239, 239, 239), 1);
      border: none;
      border-radius: 5px;
      font-size: 17px;
      &::placeholder {
        font-size: 15px;
        text-align: center;
      }
    }
    .navIconArea {
      display: flex;
      align-items: center;
      i {
        font-size: 22px;
        margin: 0 8px;
        border: none;
        cursor: pointer;
      }
    }
  }
}
